/*
faire en sorte que entre l' img et le menu ul on metent tout l'espace disponible
*/

body{
    font-size: 0.9em;
}
.zone1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.zone1 ul{
    display: flex;
    align-items: center;
}

.zone1 ul li{
    list-style: none;
    margin-left: 15px;
}

.zone1 ul li.last{
    border:1px solid blue;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 2s background;
}

.zone1 ul li.last:hover{
    background-color: blue;
    color:white;
    cursor: pointer;
}
/* https://flexboxfroggy.com/ */

/*https://www.youtube.com/watch?v=JJSoEo8JSnc*/

.wrap{
    width: 60%;
    margin: 0 auto;
}

.zone2{
    text-align: center;
}

.zone2 h1{
    font-size: 1.7em;
    /* em => unité relative
    /* augmenter / diminuer comme en %
    par défaut 
    1em == 16px p 
    2em == 32px

    si je modifie la valeur par défaut 
    body{ 
        font-size : 0.9em; 
    }
    16 * 0.9 = 14.4px
    */
    font-weight: 800;
}

.zone3{
    display: flex;
    justify-content: space-between;
}

.zone3 article{
    width:32%; /*3 * 32 = 96%*/
}

.zone3{
    text-align: center;
}

.zone3 article{
    border:1px solid grey;
    border-radius: 5px;
}

.zone3 article h2{
    /*
        000 => noir
        111
        222
        333
        ccc => gris
        ddd
        eee
        fff => blanc
    */
    background: #ddd;
    margin: 0;/*enlever la marge par défaut*/
    padding: 0.4em;
    font-weight: 500;
    border-bottom: 1px solid grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.zone3 article h3{
    font-size: 1.2em;
}

.zone3 article ul{
    padding: 0;
    list-style: none;
}
/* a élément en ligne 
2 types de balise 
balise en block => h1 p div ...
largeur et hauteur marge 
div>lorem1 => 

*/
.zone3 article a{
    display:block;
    border:1px solid blue;
    padding: 0.8em 2em;
    margin: 0 20px 10px 20px;
    border-radius: 5px ;
    color:#000;
    text-decoration: none;
    font-size: 1.1em;
}

.zone3 article a.actif,.zone3 article a:hover {
    color: #fff;
    background-color: blue;
}





