@charset "UTF-8";
/*
reset : enlever toutes les marges par défaut
des balises qui sont mis par défaut par le navigateur
*/
/* h1, h2, h3 , h4, h5, h6 {
    margin: 0;
} */
h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

body, p {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*
les styles par défaut 
*/
body {
  font-family: sans-serif;
  background-color: rgba(173, 216, 230, 0.226);
}

a {
  text-decoration: none;
}

/*
la zone de menu
*/
.menu-top {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #000;
}

.menu-top .menu-top-gauche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-top h1 {
  font-size: 20px;
  margin-right: 20px;
  color: #fff;
  font-weight: normal;
}

.menu-top a {
  margin-right: 20px;
  color: #ccc;
  font-size: 16px;
}

.menu-top a.actif {
  color: #a39393;
}

.menu-top input[type="text"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.menu-top input[type="submit"] {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid green;
  background: none;
  color: green;
  cursor: pointer;
  margin-left: 20px;
}

.menu-top input[type="submit"]:hover {
  background: green;
  color: white;
}

.menu-top span {
  display: inline-block;
  border: 5px solid transparent;
  border-bottom-color: #ccc;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-top .sous-menu {
  display: none;
  position: absolute;
  background-color: black;
  padding: 10px 20px;
  border-radius: 5px;
}

.menu-top .choix {
  position: relative;
}

.menu-top .choix:hover .sous-menu {
  display: block;
}

.menu-bottom {
  background: white;
  padding: 10px;
}

.menu-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-bottom a {
  margin-right: 10px;
  font-size: 12px;
  color: #ccc;
}

.container {
  width: 900px;
  margin: 10px auto;
}

.contenu-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: purple;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.contenu-top img {
  border-radius: 5px;
  margin-right: 10px;
}

.contenu-top h2 {
  font-size: 16px;
}

.contenu-top p {
  font-size: 12px;
  color: #ccc;
}

.contenu-middle, .contenu-bottom {
  margin-top: 10px;
  background: white;
  border-radius: 5px;
  padding: 10px;
}

.contenu-middle h3, .contenu-bottom h3 {
  padding: 20px 0 10px 0;
}

.contenu-middle li, .contenu-bottom li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  border-bottom: 2px solid #ccc;
}

.contenu-middle img, .contenu-bottom img {
  margin-right: 10px;
}

.contenu-middle p, .contenu-bottom p {
  font-size: 14px;
}

.contenu-middle footer, .contenu-bottom footer {
  text-align: right;
  font-size: 14px;
  padding: 15px 0;
}

.contenu-bottom li a {
  font-size: 14px;
  margin-left: 10px;
}
/*# sourceMappingURL=07-style.css.map */