/*
reset : enlever toutes les marges par défaut
des balises qui sont mis par défaut par le navigateur
*/

/* h1, h2, h3 , h4, h5, h6 {
    margin: 0;
} */

@for $i from 1 through 6{
    h#{$i}{
        margin: 0;
    }
}
body{
    margin: 0;
    overflow-x: hidden;
}
 p{
    margin: 0;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

/*
les styles par défaut 
*/

body{
    font-family: sans-serif;
    background-color: rgba(173, 216, 230, 0.226);
}

a{
    text-decoration: none;
}

/*
la zone de menu
*/

.menu-top{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000;

    .menu-top-gauche{
        display: flex;
        align-items: center;
    }

    ul{
        display: flex;
        align-items: center;
    }

    h1{
        font-size: 20px;
        margin-right: 20px;
        color:#fff;
        font-weight: normal;
    }

    a{
        margin-right: 20px;
        color:#ccc;
        font-size: 16px;
    }
    a.actif{
        color:rgb(163, 147, 147);
    }

    input[type="text"]{
        padding: 10px 20px;
        border:none;
        border-radius: 5px;
    }
    input[type="submit"]{
        padding: 10px 20px;
        border-radius: 5px;
        border:1px solid green;
        background: none;
        color:green;
        cursor: pointer;
        margin-left: 20px;

        &:hover{
            background: green;
            color:white;
        }
    }
    span{
        display: inline-block;
        border: 5px solid transparent;
        border-bottom-color: #ccc;
        transform: rotate(180deg);
    }

    .sous-menu{
        display: none;
        position: absolute;
        background-color: black;
        padding: 10px 20px;
        border-radius: 5px;
    }
    .choix{
        position: relative;
    }

    .choix:hover .sous-menu{
        display: block;
    }
}

.menu-bottom{
    background: white;
    padding: 10px;
    ul{
        display: flex;
    }

    a{
        margin-right: 10px;
        font-size: 12px;
        color:#ccc;
    }
}

.container{
    width:900px;
    margin: 10px auto;
}

.contenu-top{
    display: flex;
    align-items: center;
    background-color: purple;
    padding: 10px;
    border-radius: 5px;
    color:white;
    transform: translateX(-2000px) scale(0.2);
    animation : 2s apparition forwards;

    img{
        border-radius: 5px;
        margin-right: 10px;
        transition: 1s transform;

        &:hover{
            transform: scale(1.2) ;
        }
    }

    h2{
        font-size: 16px;
    }
    p{
        font-size: 12px;
        color:#ccc;
    }
}

.contenu-middle{
    margin-top: 10px;
    background: white;
    border-radius: 5px;
    padding: 10px;

    transform: translateX(2000px) scale(0.2);
    animation : 2s apparition 1s forwards;

    h3{
        padding: 20px 0 10px 0;
    }
    li{
        display: flex;
        align-items: center;
        padding: 15px 0;
        border-bottom: 2px solid #ccc;
    }

    img{
        margin-right: 10px;
    }

    p{
        font-size: 14px;
    }

    footer{
        text-align: right;
        font-size: 14px;
        padding: 15px 0;
    }
}

.contenu-bottom{
    @extend .contenu-middle; // héritage 
    transform: translateX(-2000px) scale(0.2);
    animation : 2s apparition 2s forwards  ;

    li a{
        font-size: 14px;
        margin-left: 10px;
    }
}


@keyframes apparition{
    
    to{
        transform: translateX(0);
    }
}
