

.btn{
    background: #ccc;
    padding: 10px 20px;
    border:none;
    border-radius: 5px;
}

.btn-valider{
    color:white;
    background:green; // prioritaire !
    @extend .btn;
}

.btn-supprimer{
    @extend .btn-valider;
    background:red; 
}

/*
solution alternative
.btn-supprimer{
    @extend .btn;
    background:red; 
     color:white;
}
*/

.btn-supprimer-lien{
    @extend .btn-supprimer;
    text-decoration: none;
    font-family: arial;
    font-size: 0.8em;
}

.miniature{
    border-radius: 5px;
    padding:5px;
    background-color: black;
    border:1px solid grey;
    // box shadow => mettre une ombre sur une élément html
    box-shadow: 4px 3px 10px green;
    // 2px décalage sur l'axe horizontale de l'ombre
    // 3px décalage sur l'axe vertical de l'ombre
    // 0px flou = blur
    // couleur de l'ombre 
}

.miniature-arrondie{
    @extend .miniature;
    background-color: white;
    border-radius: 75px; // hauteur / 2 
}

.miniature-rectangle{
    @extend .miniature-arrondie ;
    border-radius:0;
    border: 1px solid black;
}

