// fonction 
@mixin btn($bg :grey , $texte : black){
    padding: 10px 20px;
    background: $bg;
    color: $texte;
    border: none;
    border-radius: 5px;
}

.btn{
    @include btn ;
}

.btn-supprimer{
    @include btn(red);
}

.btn-valider{
    @include btn(blue , white);
}